In [1]:
import os
import csv
import boto3
import pandas as pd
import numpy as np

In [4]:
s3 = boto3.resource('s3')
obj = s3.Object('calvinandpogs-ee148', 'atrw/detection/train/0000.jpg')

In [5]:
bucket = "calvinandpogs-ee148"
detection_train_images_folder = "atrw/detection/train"
s3 = boto3.resource("s3")
s3_bucket = s3.Bucket(bucket)
detection_train_image_names = [f.key.split(detection_train_images_folder + "/")[1] for f in s3_bucket.objects.filter(Prefix=detection_train_images_folder).all()]

In [24]:
detection_train_image_names[:20]

['0000.jpg',
 '0002.jpg',
 '0003.jpg',
 '0004.jpg',
 '0005.jpg',
 '0006.jpg',
 '0008.jpg',
 '0009.jpg',
 '0010.jpg',
 '0011.jpg',
 '0012.jpg',
 '0013.jpg',
 '0015.jpg',
 '0016.jpg',
 '0018.jpg',
 '0019.jpg',
 '0022.jpg',
 '0023.jpg',
 '0025.jpg',
 '0026.jpg']

In [6]:
len(detection_train_image_names)

2763

In [8]:
reid_train_images_folder = "atrw/reid/train_images"
reid_train_image_names = [f.key.split(reid_train_images_folder + "/")[1] for f in s3_bucket.objects.filter(Prefix=reid_train_images_folder).all()]

In [22]:
reid_train_image_names[:20]

['000001.jpg',
 '000002.jpg',
 '000003.jpg',
 '000007.jpg',
 '000009.jpg',
 '000012.jpg',
 '000014.jpg',
 '000015.jpg',
 '000016.jpg',
 '000018.jpg',
 '000019.jpg',
 '000020.jpg',
 '000021.jpg',
 '000023.jpg',
 '000024.jpg',
 '000025.jpg',
 '000029.jpg',
 '000030.jpg',
 '000031.jpg',
 '000032.jpg']

In [23]:
reid_train_image_names_formatted = [e[2:] for e in reid_train_image_names]
reid_train_image_names_formatted[:20]

['0001.jpg',
 '0002.jpg',
 '0003.jpg',
 '0007.jpg',
 '0009.jpg',
 '0012.jpg',
 '0014.jpg',
 '0015.jpg',
 '0016.jpg',
 '0018.jpg',
 '0019.jpg',
 '0020.jpg',
 '0021.jpg',
 '0023.jpg',
 '0024.jpg',
 '0025.jpg',
 '0029.jpg',
 '0030.jpg',
 '0031.jpg',
 '0032.jpg']

In [25]:
reid_detection_train_intersect = list(set(detection_train_image_names) & set(reid_train_image_names_formatted))
reid_detection_train_intersect.sort()
reid_detection_train_intersect[:30]

['0002.jpg',
 '0003.jpg',
 '0009.jpg',
 '0012.jpg',
 '0015.jpg',
 '0016.jpg',
 '0018.jpg',
 '0019.jpg',
 '0023.jpg',
 '0025.jpg',
 '0029.jpg',
 '0030.jpg',
 '0031.jpg',
 '0033.jpg',
 '0035.jpg',
 '0037.jpg',
 '0042.jpg',
 '0043.jpg',
 '0044.jpg',
 '0045.jpg',
 '0046.jpg',
 '0049.jpg',
 '0050.jpg',
 '0056.jpg',
 '0058.jpg',
 '0062.jpg',
 '0064.jpg',
 '0066.jpg',
 '0068.jpg',
 '0071.jpg']

In [26]:
len(reid_detection_train_intersect)

1826

In [14]:
reid_detection_train_intersect[-1]

'4409.jpg'

In [15]:
file_name = 'atrw/reid/reid_list_train.csv'

obj = s3.Object(bucket, file_name)
#body = obj.get()['Body'].read()
reid_df = pd.read_csv(obj.get()['Body'], names=['tiger_id', 'image'])

In [16]:
reid_df

      tiger_id       image
0          250  003597.jpg
1          256  003523.jpg
2          171  003900.jpg
3          247  002636.jpg
4          238  002249.jpg
...        ...         ...
1882       153  003844.jpg
1883        66  002481.jpg
1884        76  003655.jpg
1885        78  001114.jpg
1886       220  004710.jpg

[1887 rows x 2 columns]

In [17]:
sorted_reid_df = reid_df.sort_values(by=['tiger_id'])
sorted_reid_df

      tiger_id       image
468          0  000841.jpg
1031         0  003791.jpg
206          0  001703.jpg
362          0  003107.jpg
249          0  000384.jpg
...        ...         ...
131        274  002086.jpg
1183       274  004457.jpg
225        274  000896.jpg
1091       274  002836.jpg
457        274  000705.jpg

[1887 rows x 2 columns]

In [18]:
sorted_reid_df.head(15)

      tiger_id       image
468          0  000841.jpg
1031         0  003791.jpg
206          0  001703.jpg
362          0  003107.jpg
249          0  000384.jpg
471          0  002788.jpg
1815         0  002558.jpg
1230         0  000584.jpg
430          0  004759.jpg
238          0  002253.jpg
711          0  003997.jpg
539          0  004648.jpg
265          1  001983.jpg
329          1  001888.jpg
1732         1  003807.jpg

In [19]:
indexNames = reid_df[(reid_df['tiger_id'] == 0)].index
indexNames, len(indexNames)

(Int64Index([206, 238, 249, 362, 430, 468, 471, 539, 711, 1031, 1230, 1815], dtype='int64'),
 12)

In [20]:
id0_removed_df = sorted_reid_df.drop(indexNames , inplace=False)
id0_removed_df

      tiger_id       image
265          1  001983.jpg
329          1  001888.jpg
1732         1  003807.jpg
1272         1  000307.jpg
1766         1  002035.jpg
...        ...         ...
131        274  002086.jpg
1183       274  004457.jpg
225        274  000896.jpg
1091       274  002836.jpg
457        274  000705.jpg

[1875 rows x 2 columns]

In [27]:
a = [e[2:-4] for e in id0_removed_df['image'].values.tolist()]
a[:30]

['1983',
 '1888',
 '3807',
 '0307',
 '2035',
 '0518',
 '2098',
 '1225',
 '3805',
 '1151',
 '5142',
 '1414',
 '2477',
 '1014',
 '0540',
 '0303',
 '0222',
 '4307',
 '1408',
 '2373',
 '4692',
 '0316',
 '4573',
 '2695',
 '3317',
 '1234',
 '2379',
 '3431',
 '4088',
 '5046']

In [67]:
with open("id0_removed.txt", "w") as output:
    for image_id in a:
            output.write('%s\n' % image_id)